out
dist
coverage
node_modules
.DS_Store

# vs
vscode-bundle-size/README.md
.vscode-test/
*.vsix

# https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
